/*font-family start*/

/*common css start*/
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: ;
}


/*common css end*/
/*header start*/


/*header end*/